<!doctype html>
<form action='/login/attempt' method='post' class="form-inline well">
    
  <p>Enter Your login: </p> <br />
   
  <input type="text" name='username' placeholder="username" autofocus> <br />

  <p>   Your password: </p> <br />

  <input type="password" name='pass' placeholder="password" > <br />

  <input class="btn primary" type='submit' value='log in'>

</form>
